In [1]:
import tensorflow as tf
import pymysql as db
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
from sklearn.externals import joblib

In [2]:
conn = db.connect(host='192.168.2.88', port=3306, user='zach', passwd='1qaz!QAZ', db='old')

In [3]:
cursor = conn.cursor()

In [5]:
query_users = 'SELECT * from old.matomo_user;'

In [6]:
df = pd.read_sql_query(query_visits, conn)

In [8]:
df.describe()

       superuser_access
count         47.000000
mean           0.574468
std            0.499769
min            0.000000
25%            0.000000
50%            1.000000
75%            1.000000
max            1.000000